#sidebar {
  height: 100%;
  padding-right: 0;
  padding-top: 20px;
}

#sidebar-toggle-button {
  float: left;
  border-color: #f8f8f8;
}

@media screen and (min-width: 768px) {
  #sidebar-toggle-button {
      display: none;
  }
}

@media screen and (max-width: 767px) {
  #sidebar {
    padding-top:0;
  }
  .row-sidebar {
    position: relative;
  }
  .sidebar-mobile {
    right: -50%;
  }
  .row-sidebar-hidden .sidebar-mobile {
    left: -50%;
  }
  .row-sidebar-hidden.active {
    left: 50%;
  }
  .sidebar-mobile {
    position: absolute;
    top: 0;
    width: 50%;
  }
}
